// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.like {
  text-decoration: none;
  color: #000;
}

.liked {
  color: red;
  text-decoration: none;
}

// swiperの色を調整
.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-color: gray; //ここに変更する色を指定
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 10px !important;
  background: #333 !important;
}

// navbar
.navbar .container-fluid,
.navbar-expand-lg .navbar-collapse,
.navbar-expand-lg .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
}

// sidebar
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}





th {
    white-space: nowrap;
}
